{{- $root := . -}}
{{- range $svc, $cfg := .Values.services }}
{{- if $cfg.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
name: {{ printf "%s-%s" $root.Release.Name $svc }}
labels:
app: {{ printf "%s-%s" $root.Release.Name $svc }}
spec:
replicas: {{ $.Values.replicaCount }}
selector:
matchLabels:
app: {{ printf "%s-%s" $root.Release.Name $svc }}
template:
metadata:
labels:
app: {{ printf "%s-%s" $root.Release.Name $svc }}
spec:
containers:
- name: {{ $svc }}
image: {{ $cfg.image }}
imagePullPolicy: {{ $.Values.imagePullPolicy }}
ports:
- containerPort: {{ $cfg.port }}
resources:
{{ toYaml $cfg.resources | indent 12 }}
{{- end }}
{{- end }}